.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87.3vh;
  background: linear-gradient(135deg, #ff7a28, #ffcba4);
}

.login-form {
  background-color: white;
  padding: 40px 60px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
}
.image-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.login-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px 14px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #ff914d;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #ff6a00;
}
