

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 76.3vh;
 background: linear-gradient(135deg, #ff7a28, #ffcba4);
}

.register-form {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #ff914d;
  font-family: 'Segoe UI', sans-serif;
}

.register-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

.register-form input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.3s ease;
}

.register-form input:focus {
  border-color: #ff914d;
  outline: none;
}

.register-form button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #ff914d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-form button:hover {
  background-color: #ff6a00;
  transform: translateY(-3px);
  transition: transform 0.5s ease;

}

@media (max-width: 480px) {
  .register-form {
    padding: 25px 20px;
  }

  .register-form h2 {
    font-size: 22px;
  }

  .register-form input,
  .register-form button {
    font-size: 15px;
  }
}
